# ghostty +show-config --default --docs
# ghostty +list-themes

font-family                    = Hack Nerd Font
font-family-bold               = Hack Nerd Font
font-family-italic             = Hack Nerd Font
font-family-bold-italic        = Hack Nerd Font

font-feature                   = calt
font-feature                   = liga
font-feature                   = ss13

font-size                      = {{ if eq .os "mac" }}18{{ else }}16{{ end }}
window-inherit-font-size       = true

# Look and Feel
adjust-cursor-thickness        = 3
adjust-underline-position      = 3
bold-is-bright                 = true
cursor-invert-fg-bg            = true
cursor-opacity                 = 0.8
cursor-style                   = bar
cursor-style-blink             = true
link-url                       = true
mouse-hide-while-typing        = true
theme                          = Challenger Deep
background-opacity             = 0.92
window-vsync                   = true
selection-background           = #2a3b5f
selection-foreground           = cell-foreground

# Keybindings
{{ if eq .os "mac" -}}
keybind                        = super+c=copy_to_clipboard
keybind                        = super+v=paste_from_clipboard
keybind                        = super+a=select_all
{{- else -}}
keybind                        = ctrl+shift+c=copy_to_clipboard
keybind                        = ctrl+shift+v=paste_from_clipboard
keybind                        = ctrl+shift+a=select_all
{{- end }}
